
/*=================[Importaciones de Estilos Globales]=========*/
@import url('./assets/styles/globals.css');

/*=================[Configuración Base de la Aplicación]=========*/
html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

app-root {
  display: block;
  height: 100%;
}
